.atom
.aws
.bash_history
.bash_logout
.bashrc
.cache
.config
.daily.sh
.dc++
.ecryptfs -> /home/.ecryptfs/seth/.ecryptfs
.gconf
.gem
.gimp-2.8
.gnome
.gnupg
.hplip
.ICEauthority
.IntelliJIdea2017.3
.java
.local
.monitor.sh
.mozilla
.mume
.nano
.oracle_jre_usage
.pki
.Private -> /home/.ecryptfs/seth/.Private
.profile
.pulse-cookie
.python_history
.sane
.selected_editor
.steam
.steampath -> /home/seth/.steam/sdk32/steam
.steampid -> /home/seth/.steam/steam.pid
.sudo_as_admin_successful
.texlive2016
.thumbnails
.viminfo
.wget-hsts
.ytree-hst
.zcompdump
.zcompdump-nirvana-5.2
.zsh-update
.zsh_history
Desktop
Documents
Downloads
Hub
Music
Pictures
Public
Templates
Videos
.ssh
.Private
.dot
.ecryptfs
.steam
.steampath
.steampid
.gitconfig
snap
.altera
.zcomp*
