.IntelliJIdea2018.1/
.Xauthority
.altera.quartus/
.aws/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.calcurse/
.cargo/
.dmenu_cache
.dmrc
.dot/
.eclipse/
.electron/
.elinks/
.esd_auth
.fehbg
.ftblauncher/
.gimp-2.8/
.gitconfig
.gnome/
.gnupg/
.gradle/
.grip/
.gtkrc-2.0
.hplip/
.icons/
.java/
.latexmkrc
.lesshst
.local/
.mozilla/
.mplayer/
.node-gyp/
.npm/
.oh-my-zsh/
.p2/
.pki/
.pulse-cookie
.pypanelrc
.python_history
.sonic-pi/
.ssh/
.steam/
.steampath
.steampid
.subversion/
.swt/
.thumbnails/
.thunderbird/
.tooling/
.vim/autoload/pathogen.vim
.vim/bundle/
.viminfo
.vimrc
.wget-hsts
.xbindkeysrc
.xsession-errors
.xsession-errors.old
.yarnrc
.zcompdump-daedalus-5.4.2
.zcompdump-daedalus-5.5
.zcompdump-daedalus-5.5.1
.zcompdump-destiny-5.4.2
.zcompdump-nirvana-5.4.2
.zsh_history
.zshrc.pre-oh-my-zsh
Desktop/
Documents/
Downloads/
FiraxisLive/
Games/
Music/
Pictures/
.config/
.arduino*/
.multirust
.profile
.rustup
.yarn
.zprofile
Arduino/
Videos
