export POLYBAR_PRIMARY_TOP_LEFT='i3'
export POLYBAR_PRIMARY_TOP_CENTER='xwindow'
export POLYBAR_PRIMARY_TOP_RIGHT=' '

export INTERNAL_DISPLAY=$(xrandr -q | grep --color=never -i "edp" | cut -d' ' -f1)
export POLYBAR_PRIMARY=$(xrandr -q | grep --color=never " connected" | grep --color=never "primary" | cut -d' ' -f1)
export POLYBAR_SECONDARY=$(xrandr -q | grep --color=never " connected" | grep --color=never -v $INTERNAL_DISPLAY | grep --color=never -v $POLYBAR_PRIMARY | cut -d' ' -f1)

export NETWORK_INTERFACE='wlp170s0'

export REDSHIFT_GAMMA=1.0
export REDSHIFT_DAY_TEMP=6500
export REDSHIFT_NIGHT_TEMP=5500

# services="polybar compton redshift caffeine dunst nm-applet"
services="picom polybar"
start_services(){
    # Compositor for transparency
    if [[ -x $(which picom) ]];
    then
      printf "    [INFO] Starting picom\n"
      picom &
    fi

    if [[ -x $(which polybar) ]];
    then
      # Bars
      printf "    [INFO] Starting polybar\n"
      $HOME/.config/polybar/launch.sh top &
      if [[ -n $POLYBAR_SECONDARY ]]; then
        $HOME/.config/polybar/launch.sh top-secondary &
      fi
    fi
}

set_wallpaper(){
    [[ -x $(which wal) ]] && wal -Rn
    # ~/.config/scripts/fix-monitors.py
    feh --bg-fill ~/.wallpapers/bully_hill.jpg
}

# vim:ft=sh
