export POLYBAR_PRIMARY_TOP_LEFT='i3'
export POLYBAR_PRIMARY_TOP_CENTER='xwindow'
export POLYBAR_PRIMARY_TOP_RIGHT='volume date'

export NETWORK_INTERFACE='enp3s0'

export REDSHIFT_GAMMA=1.0
export REDSHIFT_DAY_TEMP=6500
export REDSHIFT_NIGHT_TEMP=5500

services="polybar compton redshift light-locker caffeine"
start_services(){
    # at this point in the startup, the displays should be the correct config  
    export POLYBAR_PRIMARY=$(xrandr -q | awk '/primary/{print $1}')
    export POLYBAR_SECONDARY=$(xrandr -q | awk '/ connected/' | awk '!/primary/{print $1}' | cut -d' ' -f1)

    # Compositor for transparency
    if [[ -x $(which compton) ]];
    then
      printf "    [INFO] Starting compton\n"
      compton &
    fi
    
    if [[ -x $(which polybar) ]];
    then
      # Bars
      printf "    [INFO] Starting polybar\n"
      $HOME/.config/polybar/launch.sh top top-secondary & 
    fi
    
    # MY EYES!!!! Start redshift
    if [[ -x $(which redshift) ]];
    then
      printf "    [INFO] Starting redshift\n"
      redshift -c $HOME/.config/redshift/$(hostname).conf &
    fi
    
    if [[ -x $(which caffeine) ]];
    then
      printf "    [INFO] Starting caffeine\n"
      caffeine &> /dev/null &
    fi
    
    if [[ -x $(which light-locker) ]];
    then
      printf "    [INFO] Starting light-locker\n"
      light-locker &> /dev/null &
    fi
}

set_wallpaper(){
    [[ -x $(which wal) ]] && wal -Rn
    ~/.config/scripts/fix-monitors.py
}

# vim:ft=sh
