[Desktop Entry]
Name=Notify Kill
Comment=Kill those pesky notifications!
Exec=killall notify-osd
Icon=utilities-terminal
Type=Application
StartupNotify=true
