[Desktop Entry]
Name=Notify Kill
Comment=Kill those pesky notifications!
Exec=killall dunst
Icon=utilities-terminal
Type=Application
StartupNotify=true
