[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/opt/Xilinx/Vivado/2018.3/bin/vivado -nolog -nojournal
Name=Vivado Xilinx
Comment=Vivado Hlx FPGA IDE
