[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=java -jar /home/sgower/.local/bin/FTB_Launcher.jar
Name=Feed The Beast
Comment=Feed the Beast Launcher
Icon=/home/seth/.local/share/icons/hicolor/48x48/apps/ftb-launcher.png
