export TERMINAL='termite'

export PRIMARY_TOP_LEFT='i3'
export PRIMARY_TOP_CENTER='xwindow'
export PRIMARY_TOP_RIGHT='volume xbacklight battery date'

export NETWORK_INTERFACE='wlp4s0'

export REDSHIFT_GAMMA=1.0
export REDSHIFT_DAY_TEMP=6500
export REDSHIFT_NIGHT_TEMP=5500

printf "    [INFO] Setting primary monitor to eDP1 and setting resolution to 1080p\n"
xrandr --output eDP1 --mode 1920x1080

printf "    [INFO] Starting mons daemon\n"
mons -a >/dev/null 2>&1 &
# vim:ft=sh
