export TERMINAL='termite'

export PRIMARY_TOP_LEFT='i3'
export PRIMARY_TOP_CENTER='xwindow'
export PRIMARY_TOP_RIGHT='volume xbacklight battery date'

export NETWORK_INTERFACE='wlp4s0'

export REDSHIFT_GAMMA=1.0
export REDSHIFT_DAY_TEMP=6500
export REDSHIFT_NIGHT_TEMP=5500
# vim:ft=sh
