export TERMINAL='termite'

export POLYBAR_PRIMARY_TOP_LEFT='i3'
export POLYBAR_PRIMARY_TOP_CENTER='xwindow'
export POLYBAR_PRIMARY_TOP_RIGHT='volume volume-headphones date'

export POLYBAR_PRIMARY=$(xrandr -q | awk '/primary/{print $1}')
export POLYBAR_SECONDARY="DVI-D-0"

export NETWORK_INTERFACE='wlp3s0'

export REDSHIFT_GAMMA=1.0
export REDSHIFT_DAY_TEMP=6500
export REDSHIFT_NIGHT_TEMP=5500

services="polybar compton redshift"
start_services(){
    # Compositor for transparency
    printf "    [INFO] Starting compton\n"
    compton &
    
    # Bars
    printf "    [INFO] Starting polybar\n"
    $HOME/.config/polybar/launch.sh top top-secondary
    
    # MY EYES!!!! Start redshift
    printf "    [INFO] Starting redshift\n"
    redshift -c $HOME/.config/redshift/$(hostname).conf &
    
    #printf "    [INFO] Starting caffeine\n"
    #caffeine &> /dev/null &
    
    #printf"     [INFO] Starting conky'\n"
    #conky -d

}

set_wallpaper(){
    wal -Rn
    feh --bg-fill ~/.wallpapers/big-chair.jpg
}

# vim:ft=sh
